# Exclude tests 
test/
src/integration/
**/*.test.js
**/*.spec.js
coverage/
vitest.config.js
vitest.integration.config.js

# Exclude dev-files
.git/
.github/
.vscode/
.idea/
node_modules/
npm-debug.log
Dockerfile
.dockerignore
.eslintrc*
.prettierrc*
.gitignore

# Envs and Secrets
.env*
*.key
*.pem

# Documentation
*.md
dokumentation_*.md

# Logs
logs/
*.log

# Temporary Files
.DS_Store
Thumbs.db